<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% messages() %>



<div class="form-container">
    <form action="/account/register" method="post">
            <label class="top">First Name*<input type="text" name="account_firstname" required id="account_firstname"></label>
            <label class="top">Last Name*<input type="text" name="account_lastname" required id="account_lastname"></label>
            <label class="top">Email*<input type="email" name="account_email" placeholder="someone@gmail.com" required
                    id="account_email">
            </label>
            <label class="top">Password* <input type="password" name="account_password" id="account_password" pattern="[A-Za-z0-9]{12,}"
                title="Please enter at least 12 alphanumeric characters"></label>
            <label class="pwderror"></label>
            
            <input type="submit" value="Join" class="submitBtn">
    </form>
</div>


