@media (min-width: 600px) {

    body{
        background-image: url("/images/site/small_check.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: lighten;
        
        padding: 1% 3% 1% 3%;

        /*background-position: 0% 50%;*/
    }

    .reviewUpgrade-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .upgradeSection {
        order: 1;
    }

    .reviewSection {
        order: 2;
    }

    h1 {
        font-size: x-large;
    }

    .herowntoday {
        position: absolute;
        top: 30%;
        left: 1%;
        margin-bottom: 2px;
        background-color: rgb(249, 250, 252) ;
        color: blue;
        font-size: 120%;
        padding: 2px;
      }

      .reviewSection ul {
        height: 100%;
        margin: 0.5rem;
      }

      .reviewSection li {
        margin-bottom: 0.75rem;
      }

      /* large view */
      /* Styles Vehicle Detail view */
        .vehicleDetails {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            align-items: center;
        }
  
        .vehicleDetails img {
            grid-column: 1 / 2;
        }
  
        .vehicleDetails section {
            grid-column: 2 / 3;
        }

        /* CSS classified view Pages */
  
     
}